#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chart-container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: 2rem;
}

@media (max-width: 48rem) {
  .chart-container {
    padding: 0 0.625rem;
  }
}

select, label {
  font-size: 1rem;
  margin: 0.625rem;
}

input[type="checkbox"] {
  margin-right: 0.3125rem;
}
